.container{
    .content{
        padding: 0 20%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .infos{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1{
                font-weight: 500;
            }
            p{
                margin-top: 20px;
                text-align: center;
                font-weight: 300;
            }
        }
    }
}